<h1>Whats my Triangle?</h1>
<form action="/result"
  <div class="form-group">
    <label for="sides">Please enter the 3 side lengths of the triangle you would like to test:</label>
    <input id="sideA" name="sideA" value="sideA" type="number">
    <input id="sideB" name="sideB" value="sideB" type="number">
    <input id="sideC" name="sideC" value="sideC" type="number">
  </div>
  <button type="submit" class="btn">Send</button>
</form>
